<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IdeasTech - @Html.ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/ico/bulb.ico">


    <!-- Bootstrap 4 CSS-->
    <link href="~/Librerias/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Fontastic Custom icon font-->
    <link href="~/Librerias/css/fontastic.css" rel="stylesheet" />

    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">

    <!-- theme stylesheet-->
    <link href="~/Librerias/css/style.default.css" rel="stylesheet" id="theme-stylesheet" />


    <!-- ALERTIFY HOJA DE ESTILOS-->
    <!-- include the RTL css files-->
    <link href="~/Librerias/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Librerias/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/Librerias/css/themes/default.rtl.min.css" rel="stylesheet" />


    <!-- Custom stylesheet - for your changes-->
    <link href="~/Librerias/css/custom.css" rel="stylesheet" />

    <!-- Colamos Jquery en la cabecera para que me funcione en todo el proyecto-->
    <script src="~/Librerias/js/jquery-3.4.1.min.js"></script>

</head>
<body>

    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="fas fa-window-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="¿Que está buscando?" class="form-control">
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                                <img src="~/img/svg/bombilla.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                                <div class="brand-text d-none d-lg-inline-block"><span>Ideas</span><strong>Tech</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

                            <!-- Carrito    -->
                            <li class="nav-item"><a href="login.html" class="nav-link"> <span class="d-none d-sm-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="fas fa-cart-arrow-down"></i>&nbsp;(0)</a></li>


                            <!-- Search-->
                            <li class="nav-item d-flex align-items-center"><a id="search" href="#"> <i class="fas fa-search"></i> </a></li>

                            <!-- Logout    -->
                            <!--
                            <li class="nav-item"><a href="login.html" class="nav-link logout"> <span class="d-none d-sm-inline">          Logout </span><i class="fas fa-sign-out-alt"></i></a></li>
                            -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="avatar"><img src="~/img/png/benjaPerfil.png" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="title">
                        <h1 class="h4">@Html.ViewBag.Username</h1>
                        <p>@Html.ViewBag.Rol</p>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
                <ul class="list-unstyled">
                    <li class="active"><a href="index.html"><i class="fas fa-home"></i> Inicio</a></li>
                    <li>
                        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fas fa-caret-square-down"></i> Productos</a>
                        <ul id="exampledropdownDropdown" class="collapse list-unstyled">
                            <li><a href="#">Alta de Producto</a></li>
                            <li><a href="#">Editar Producto</a></li>
                            <li><a href="#">Eliminar Producto</a></li>
                        </ul>
                    </li>
                    <li><a href="tables.html"><i class="fas fa-cart-arrow-down"></i> Pedidos </a></li>

                    <li>
                        <a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse"> <i class="fas fa-caret-square-down"></i> Productos</a>
                        <ul id="exampledropdownDropdown2" class="collapse list-unstyled">
                            <li><a href="#">Alta de Producto</a></li>
                            <li><a href="#">Editar Producto</a></li>
                            <li><a href="#">Eliminar Producto</a></li>
                        </ul>
                    </li>


                    <li><a href="charts.html"><i class="fas fa-key"></i> Cambiar Contraseña</a></li>
                    <li><a href="login.html"><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión </a></li>
                </ul>
            </nav>
            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header text-center">
                    <h3> @Html.ViewBag.Title</h3>
                </header>



                <!-- Contenido Section-->

                <section class="contenedorBenja container">

                    @RenderBody()

                </section>
                @*<section class="feeds no-padding-top">

                        <div class="container body-content">

                        </div>

                    </section>*@




                <!-- Page Footer-->
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>IdeasTech &copy; 1985-2020</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>Desarrollado por Benjamín Correa</p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>












    <!-- Popper para algunas funcionas de bootstrap 4 -->
    <script src="~/Librerias/js/popper.min.js"></script>

    <!-- Bootstrap 4 js -->
    <script src="~/Librerias/js/bootstrap.min.js"></script>

    <!-- Jquery Cookie -->
    <script src="~/Librerias/js/jquery.cookie.js"></script>

    <!-- Chart -->
    <script src="~/Recursos/vendor/chart.js/Chart.min.js"></script>

    <!-- Jquery Validate -->
    <script src="~/Librerias/js/jquery.validate.min.js"></script>

    <!-- include alertify script -->
    <script src="~/Librerias/js/alertify.min.js"></script>

    <!-- Font Awesome 5  -->
    <script src="~/Librerias/js/all.min.js"></script>

    <!-- Main File-->
    <script src="~/Librerias/js/front.js"></script>

</body>
</html>